[Desktop Entry]
Categories=Wine;Application;
Comment[en_US]=
Comment=
Exec='/mnt/Files/Github/frm-s-webui-source/frm_webui/public/markers/Make Markers/proccess.sh' %u
GenericName[en_US]=
GenericName=
Icon=run-build
MimeType=
Name[en_US]=Process
Name=Process
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
